/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 17px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#box-img {
  margin: 0;
  padding: 0;
  position: relative;
}

#logo-web {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

#text-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

.box-recipe {
  margin: 3rem;
}

.secondP, .fourthP {
  display: flex;
  justify-content: center;
}

#recipe-photo, #cooking-photo {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

.thirdP {

}

#list {
  padding-left: 1.5em;
  list-style-type: none;
}

#directionList {
  padding-left: 1.5em;
}